{% extends "base.html.twig" %}
{% block title %}
    Creation d'un produit
{% endblock %}

{% block body %}
    {# Voir la doc pour les form row etc #}
    <h1>Nouveau produit</h1>
    {{ form_start(formView) }}

    {{ form_errors(formView) }}

    {{ form_widget(formView) }}
    <button type="submit" class="btn btn-success">
        <i class="fas fa-save"></i>
        Cree le produit
    </button>
    {{ form_end(formView) }}
{% endblock %}